<!doctype html>
<html lang="hr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}EventPlanner{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <header class="site-header">
      <div class="container header-unutar">
        <h1 class="logo"><a href="{{ url_for('index') }}">EventPlanner</a></h1>
        <nav>
          <a href="{{ url_for('index') }}">Početna</a>
          <a href="{{ url_for('admin_events') }}">Admin</a>
        </nav>
      </div>
    </header>

    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="msgs">
            {% for category, message in messages %}
              <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
      <div class="container">
        <small>© {{ 2025 }} EventPlanner</small>
      </div>
    </footer>

  </body>
</html>
