{% extends 'base.html' %}
{% block title %}Events · EventPlanner{% endblock %}
{% block content %}
  
<h2>Available Events</h2>
 
<div class="cards">
    {% if events %}
      {% for e in events %}
        
      <article class="card">
          
          <header>
            <h3>{{ e.name }}</h3>
            <p class="mute">{{ e.date.strftime('%Y-%m-%d') }}</p>
          </header>
          
          {% if e.description %}
            <p>{{ e.description }}</p>
          {% endif %}
          
          <p>
            Capacity: <strong>{{ e.capacity }}</strong> ·
            Registered: <strong>{{ e.registrations|length }}</strong> ·
            Seats left: <strong>{{ e.capacity - (e.registrations|length) }}</strong>
          </p>

          <form method="post" action="{{ url_for('register') }}" class="form-inline">
            
            <input type="hidden" name="event_id" value="{{ e.id }}" />
            <input required type="text" name="name" placeholder="Ime" />
            <input required type="email" name="email" placeholder="E-mail" />
            
            <button type="submit" {% if e.registrations|length >= e.capacity %}disabled{% endif %}>
              {% if e.registrations|length >= e.capacity %}Full{% else %}Register{% endif %}
            </button>
          
          </form>
        
        </article>
      {% endfor %}
    {% else %}
      
    <p>Nema događanja. Provjeri kasnije</p>
    {% endif %}
  
  </div>
{% endblock %}
